# =============
# Unity gitignore
# =============

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/

# Visual Studio
.vs/
*.csproj
*.unityproj
# *.sln   ← ソリューションファイルは共有したいのでコメントアウト
*.suo
*.tmp
*.user
*.userprefs

# OS files
.DS_Store
Thumbs.db

# Crash Reports
sysinfo.txt